<launch>
    <node pkg="collision_avoidance" type="obstacle_detection.py" name="obstacle_detection" output="screen"/>
    <node pkg="collision_avoidance" type="twist_generator.py" name="twist_generator" output="screen"/>
    <node pkg="collision_avoidance" type="cmd_vel_controller.py" name="cmd_vel_controller" output="screen"/>
</launch>